.spell1 g {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.hidden-portal::after,
.portal::after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.portal-0::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(200, 0, 0) 55%,
    transparent 65%
  );
}
.portal-1::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(200, 70, 70) 55%,
    transparent 65%
  );
}
.portal-2::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(0, 0, 200) 55%,
    transparent 65%
  );
}
.portal-3::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(70, 70, 200) 55%,
    transparent 65%
  );
}
.portal-4::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(0, 200, 0) 55%,
    transparent 65%
  );
}
.portal-5::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(70, 200, 70) 55%,
    transparent 65%
  );
}
.portal-6::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(200, 200, 0) 55%,
    transparent 65%
  );
}
.portal-7::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(200, 200, 70) 55%,
    transparent 65%
  );
}
.portal-8::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(200, 0, 200) 55%,
    transparent 65%
  );
}
.portal-9::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(200, 70, 200) 55%,
    transparent 65%
  );
}
.portal-10::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgb(255, 165, 0) 55%,
    transparent 65%
  );
}
.portal-11::after {
  background: radial-gradient(
    circle at 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3) 40%,
    rgba(255, 165, 0, 0.7) 55%,
    transparent 65%
  );
}

.tornado::after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-image: url('@/src/assets/items/tornado_board.png');
  background-size: 100% 100%;
  background-position: center;
  animation: tornado 3s linear infinite;
}

@keyframes tornado {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg) scale(2.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}
